<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCLog_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAA9F0041EAF529A0077F726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA9F01D1EAF529B0077F726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA9F0281EAF529B0077F726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
